<!DOCTYPE html>
<html lang="ja">
<head>
	<title>Gyaru-Money</title>

	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" >
	<meta property="og:title" content="title">
	<meta property="og:type" content="website" />
	<meta property="og:url" content="url" />
	<meta name="description" content="description"/>
    <meta property="og:description" content="description"/>
	<meta property="og:image" content="http://cebushun.sakura.ne.jp/public/images/ogp.jpg">

	<link rel="stylesheet" href="public/css/style.css">
	<link rel="shortcut icon" type="image/png" href="public/images/favicon.png"/>
	
	<!-- Ten Mincho font -->
	<script>
	  (function(d) {
	    var config = {
	      kitId: 'nzz6oza',
	      scriptTimeout: 3000,
	      async: true
	    },
	    h=d.documentElement,t=setTimeout(function(){h.className=h.className.replace(/\bwf-loading\b/g,"")+" wf-inactive";},config.scriptTimeout),tk=d.createElement("script"),f=false,s=d.getElementsByTagName("script")[0],a;h.className+=" wf-loading";tk.src='https://use.typekit.net/'+config.kitId+'.js';tk.async=true;tk.onload=tk.onreadystatechange=function(){a=this.readyState;if(f||a&&a!="complete"&&a!="loaded")return;f=true;clearTimeout(t);try{Typekit.load(config)}catch(e){}};s.parentNode.insertBefore(tk,s)
	  })(document);
	</script>
</head>
<body id="js-top">
	<%- include('partials/header'); %>
	<main>

		<%- include('partials/hero'); %>

		<section class="l-intro">
			<div class="l-container">
				<%- include('partials/intro'); %>
			</div>
		</section>
		<section class="l-services" id="js-services-section">
			<div class="l-services__decors"></div>
			<div class="l-container">
				<%- include('partials/services'); %>
			</div>
		</section>
		<aside class="l-contact">
			<div class="l-container">
				<%- include('partials/contact'); %>
			</div>
		</aside>
		<section class="l-faq" id="js-faq-section">
			<div class="l-faq__decors"></div>
			<div class="l-container">
				<%- include('partials/faq'); %>
			</div>
		</section>
		<aside class="l-contact">
			<div class="l-container">
				<%- include('partials/contact'); %>
			</div>
		</aside>
	</main>

	<section class="l-footer" id="js-footer">
		<div class="l-footer__decors"></div>
		<div class="l-container">
			<%- include('partials/footer'); %>
		</div>
	</section>
	
	<script type="text/javascript" src="public/js/app.js"></script>
</body>
</html>